.header {
  width: 100%;
  color: #333;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  .logo {
    font-size: 28px;
  }
  .nav-index {
    padding: 5px 10px;
    background-color: #1890ff;
    border-radius: 5px;
    color: #fff;
  }
  .nav{
    text-decoration: none;
  }

}

